body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  /* opacity: 1; */
  /* background-image:  radial-gradient(#dfdfe9 2px, transparent 2px), radial-gradient(#dfdfe9 2px, #010101 2px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
